<h4>All countries</h4>
<div class="row mt-2">
  <div class="col-4">
    <ng-container *ngIf="!loading; else loadingSpinner">
      <a class="border border-dark p-2 d-block"
         *ngFor="let country of allCountries"
         [routerLink]="[country.alpha3Code]"
         routerLinkActive="active"
      >{{ country.name }} </a>
    </ng-container>
    <ng-template #loadingSpinner>
      <div *ngIf="loading" class="spinner-border">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
  <div class="col-5">
    <router-outlet></router-outlet>
  </div>
</div>





