<header>
  <app-toolbar></app-toolbar>
</header>
<main class="container-fluid">
    <app-all-countries></app-all-countries>
</main>
<footer class="footer bg-dark mt-auto">
  <p>Bishkek Kyrgyzstan 2021</p>
</footer>
