<h4>About country</h4>
<div class="col-7">
  <div class="card">
    <div class="card-body">
      <img [src]="country.flag" [alt]="country.name" class="card-img">
      <h4 class="card-title">Country :{{ country.name }}</h4>
      <p class="card-text"><strong> Capital: {{ country.capital }}</strong></p>
      <p class="card-text">Population: {{ country.population }} people</p>
      <p class="card-text">Subregion: <strong>{{ country.subregion }}</strong></p>
    </div>
  </div>

</div>
